<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Translate!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header>
    <div style="width: 50%;margin: 0 auto">
        <p style="float: right;"><a id="ru" href="{{ path('app_pages_changelocale',{'_locale' : 'ru'}) }}">RU</a>
            <a id="en" href="{{ path('app_pages_changelocale',{'_locale': 'en'}) }}">EN</a>
        </p>
    </div>
    {% if not app.user %}
    <div style="margin: 20px">
        {{ 'Выполните' | trans }}
        <a href="{{ path('fos_user_security_login') }}">{{ 'Вход' | trans }}</a>
        {{ 'или пройдите' | trans }}
        <a href="{{ path('fos_user_registration_register') }}">{{ 'Регистрацию' | trans }}</a>,
        {{ 'чтобы заказывать и добавлять переводы' | trans }}
    </div>
{% else %}
    {{ app.user.username }}<a style="margin: 20px" href="{{ path('fos_user_security_logout') }}">{{ 'Выйти' | trans }}</a>
    {% endif %}
</header>




{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    $('#ru').click(function (event) {
        event.preventDefault();
        $.get('/ru/lang');
        location.reload();
    });
    $('#en').click(function (event) {
        event.preventDefault();
        $.get('/en/lang');
        location.reload();
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
