{% extends "base.html.twig" %}

{% block body %}
    <div class="container" style="width: 50%;margin: 0 auto;padding-top: 100px">
        <div style="float: right">
            <table style="text-align: right">
                <th>

                    {{ 'Мы выполняем переводы с русского' | trans }}
                </th>
                <tr>
                    <td>
                        {{ 'На английский' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'На кыргызский' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'На китайский' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'На французский' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'На украинский' | trans }}
                    </td>
                </tr>
            </table>
        </div>
        {{ 'Заказы'|trans }}:
        {% for note in notes %}
            <p><a href="{{ path('app_pages_view',{'id' : note.id}) }}">{{ note.translate('ru').text }}</a></p>
        {% endfor %}
        {% if app.user %}
            <form action="{{ path('app_entity_new') }}" method="post">
                <input name="text" type="text" placeholder="{{ 'Введите текст заказа' | trans }}">
                <input type="submit" value="{{ 'Заказать переводы'|trans }}">
            </form>
        {% endif %}

    </div>
{% endblock %}
