{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        input {
            width: 100%;
            height: 30px;
            margin: 10px 0;
        }
    </style>
{% endblock %}

{% block body %}
    {% set input = false %}
    <div class="container" style="width: 50%;margin: 0 auto">
        <a href="{{ path('app_pages_index') }}">{{ 'На главную' | trans }}</a>
        <p>{{ 'Заказ'|trans }}: {{ note.translate('ru').text }}</p>
        <form action="{{ path('app_entity_edittranslate',{'id' : note.id}) }}" method="post">
            <ul style="margin: 20px">
                <li style="margin: 20px">
                    <span>{{ 'Перевод'|trans }} {{ 'на английском' | trans}}</span>
                    {% if note.translate('en' , false).text %}
                        <p>{{ note.translate('en').text }}</p>
                    {% elseif app.user %}
                        <input name="lang[en]" type="text" placeholder="{{ 'Можете предложить свой перевод'|trans }}">
                        {% set input = true %}
                    {% else %}
                        <p>{{ 'Пока перевода нет' | trans }}</p>
                    {% endif %}
                </li>
                <li style="margin: 20px">
                    <span>{{ 'Перевод'|trans }} {{ 'на кыргызском' | trans }}</span>
                    {% if note.translate('kg', false).text %}
                        <p>{{ note.translate('kg').text }}</p>
                    {% elseif app.user %}
                        <input name="lang[kg]" type="text" placeholder="{{ 'Можете предложить свой перевод'|trans }}">
                        {% set input = true %}
                    {% else %}
                        <p>{{ 'Пока перевода нет' | trans }}</p>
                    {% endif %}
                </li>
                <li style="margin: 20px">
                    <span>{{ 'Перевод'|trans }} {{ 'на китайском' | trans }}</span>
                    {% if note.translate('cn', false).text %}
                        <p>{{ note.translate('cn').text }}</p>
                    {% elseif app.user %}
                        <input name="lang[cn]" type="text" placeholder="{{ 'Можете предложить свой перевод'|trans }}">
                        {% set input = true %}
                    {% else %}
                        <p>{{ 'Пока перевода нет' | trans }}</p>
                    {% endif %}
                </li>
                <li style="margin: 20px">
                    <span>{{ 'Перевод'|trans }} {{ 'на французском' | trans }}</span>
                    {% if note.translate('fr', false).text %}
                        <p>{{ note.translate('fr').text }}</p>
                    {% elseif app.user %}
                        <input name="lang[fr]" type="text" placeholder="{{ 'Можете предложить свой перевод'|trans }}">
                        {% set input = true %}
                    {% else %}
                        <p>{{ 'Пока перевода нет' | trans }}</p>
                    {% endif %}
                </li>
                <li style="margin: 20px">
                    <span>{{ 'Перевод'|trans }} {{ 'на украинском' | trans }}</span>
                    {% if note.translate('ua', false).text %}
                        <p>{{ note.translate('ua').text }}</p>
                    {% elseif app.user %}
                        <input name="lang[ua]" type="text" placeholder="{{ 'Можете предложить свой перевод'|trans }}">
                        {% set input = true %}
                    {% else %}
                        <p>{{ 'Пока перевода нет' | trans }}</p>
                    {% endif %}
                </li>
            </ul>
            {% if input %}
                <input type="submit" value="{{ 'Сохранить'| trans }}">
            {% endif %}

        </form>
    </div>
{% endblock %}
